---
import Pill from "./Pill.astro";
import MockupPlayer from "./MockupPlayer.astro";

interface NewProjectCardProps {
  platform: "Desktop" | "Mobile";
  mockupFile: string;
  businessName: string;
  description: string;
  pillText: string;
  pillIcon: string;
  slug: string;
}

const { platform, mockupFile, businessName, description, pillText, pillIcon, slug } = Astro.props;
---

<style>
  .project-card {
    --transition: all 200ms ease;

    width: 100%;
    gap: 0.25rem;
    background-color: var(--semantic-surface);
    border-radius: var(--radii-large);
    padding: 0.25rem;
    transition: var(--transition);

    container-type: inline-size;
    container-name: project-card;

    &:hover {
      transform: translateY(-4px);
    }
  }

  :global(.mockup-player) {
    border: none;
    background-color: var(--semantic-on-surface-low) !important;
  }

  .project-card-footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 0.75rem;
    padding: 1.25rem;

    .logo {
      width: 2rem;
      height: fit-content;
      aspect-ratio: 1 / 1;
      border-radius: var(--radii-xsmall);
    }

    .text-container {
      gap: 0.375rem;
      color: var(--semantic-quaternary);

      :nth-child(1) {
        color: var(--semantic-primary);
      }
    }

    .pill-container {
      margin-left: auto;
    }
  }

  @container project-card (max-width: 450px) {
    .pill-container {
      display: none;
    }
  }
</style>

<a href={`/proyectos/${slug}`} class="project-card flex-column stroke-xsmall">
  <MockupPlayer platform={platform} mockupFile={mockupFile} businessName={businessName} />
  <div class="project-card-footer flex-row">
    <img
      class="logo"
      src={`/images/projects/${mockupFile}-logo.webp`}
      alt={`Logotipo de ${businessName}`}
    />
    <div class="text-container flex-row">
      <h3 class="body-large bold">{businessName}</h3>
      <p class="body-large">/</p>
      <p class="body-large">{description}</p>
    </div>
    <div class="pill-container flex-row">
      <Pill text={pillText} nameIcon={pillIcon} />
    </div>
  </div>
</a>
